<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Book the Flight</div>
      <div class="panel-body">

        <!-- Code the form here  -->
  <form [formGroup]="bookingForm" (ngSubmit)="book()">

    <div class="form-group">
      <label for="pName">Passenger Name</label>
      <input type="text" class="form-control" id="pName" formControlName="passengerName">
      <div class="text-danger"
      *ngIf="bookingForm.get('passengerName').touched && bookingForm.get('passengerName').invalid"
      >Field is required 
    </div>
    </div> 
    <div class="form-group">
      <label for="nooftickets">Number of Tickets</label>
      <input type="number" class="form-control" id="nooftickets" formControlName="noOfTickets">
      <div class="text-danger"
      *ngIf="bookingForm.get('noOfTickets').touched && bookingForm.get('noOfTickets').invalid"
      >Enter the number of tickets greater than 0 
    </div>
    </div> 
    <div class="form-group">
      <label for="flightid">Flight Id</label>
      <input type="text" class="form-control" id="flightid" formControlName="flightId">
      <div class="text-danger"
      *ngIf="bookingForm.get('flightId').touched && bookingForm.get('flightId').invalid"
      >Enter valid flightID
    </div>
    </div>  
    <button class="btn btn-primary" [disabled]="!bookingForm.valid">Book</button>
    <span class="m-1" *ngIf='loading'>loading...</span>
  </form>
        <div *ngIf="errorMessage!=null">
          <span class="text-danger">{{errorMessage}}</span>
        </div>
        <div *ngIf="successMessage!=null">
          <span class="text-success">{{successMessage}}</span>
        </div>
      </div>
    </div>
  </div>
</div>